{%load static %}

<section class="container_about">
    <div class="container_title_about " data-aos="fade-down" data-aos-duration="800" >
     <h2 id="about" > About </h2>
    </div>
   <div class= 'container_img_about' data-aos="fade-up" data-aos-duration="800">

     <img class='about__image'src="{% static './images/img_ro.jpeg'%}" alt="imagen Roberto Ochoa">
   </div>

   <div class="container container_p_about" >
     <p col-lg-6 data-aos="fade-up" data-aos-duration="800">  Mi formación académica es en periodismo y filosofía, actualmente estoy en vías de convertirme en Programador Full Stack. 
       Algunos de mis intereses son la tecnología, la literatura, el arte y el ciclismo.
       Trabajé durante muchos años en el área de finanzas tomando diversos roles en distintas empresas- mayormente dedicadas al área de la publicidad- actualmente estoy enfocando mi carrera hacia el desarrollo de software. </div></p>
     </div>

    
 
   </article>
 </section> 

